.section_news_admin {
    height:100vh;
    align-items:  center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
   
    
}

.section_participants_admin{
    margin-top: 150px;
    height: 100vh;
    align-items:  center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }


  
 
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  .add {
    margin-top: 1.5em;
    margin-left: 1.2em;
    height: 30px;
    width: 30px;
    
   
  }
  .delete {
    margin-top: 1.5em;
    margin-left: -.9em;
    height: 30px;
    width: 30px;
   
    
  }
  .show {
    margin-top: -.6em;
    margin-left: 1.2em;
    height: 30px;
    width: 30px;
    
  }
  .update {
    margin-top: -.9em;
    margin-left: -1.2em;
    height: 30px;
    width: 30px;
   
    
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #ff9d2e;
  }
  
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #ff9d2e;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #ff9d2e;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #ff9d2e;
  }
  
  
  button:hover img {
    filter: brightness(0) invert(1);
}

.section__news__title{
  font-family: "Satisfy", sans-serif;
  margin-bottom: 100px;
}

.container_Report_tools {
    margin-top: 200px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
 